---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.post-icon {
  margin: 0 20%;
}

//.postright {
	// position: relative;
	// width: 300px;
	// height: 214px;
	// margin: 0 20%;
	// float: right;
//}
.parened {
	color: grey;
}
// .commentor {
//     background-color: #666666;
//     padding: 20px;
//     color: #fff;
// }

//svg {
  // display: block;
  // width: 100px;
//}

rect {
  transform-origin: 50% 0%;
}

path {
  // transform-origin: 50% 50%;
}

// Our variables
$base-font-family: 'Vollkorn', serif, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

body {
  font-family: $base-font-family;
}

.site-header .wrapper {
  display: flex;
  // background-color: pink;
  justify-content: space-between;
  div:first-child a {
    display: flex;
    align-items: center;
  }
  div:last-child nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
  }
  div {
    width: 50%;
  }
}

.page-content .wrapper {
  display: flex;

}

.external .post-list {
  background: rgba(0,0,0,0.2);
}

.oldpost {
  background: rgba(0,0,0,0.2);
  span:first-of-type:after {
    // display: block;
    color: rgba(0,0,0,0.2);
    content: "Older post";
    background: rgba(255,255,255,0.5);
    width: 20%;
    margin: 5px 10px;
    padding: 0 2%;
  }
}


.site-footer {
  background: rgba(0,0,0,0.2);
}
.footer-col-wrapper {
  display: flex;
  div {
    background: rgba(255,255,255,0.5);
    padding: 2%;
    margin: 2%;
    width: calc(100%/3);
  }
  div:last-child {
    flex-grow: 2;
  }
}

// $spacing-unit:     30px;
$spacing-unit:  2%;

$text-color:       #111;
//$background-color: #fdfdfd;
$background-color: #CCFFFF;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

.icon {
  width: 16px;
  height: 16px;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "syntax-highlighting",
//         "bootstrap"
// ;


