---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% capture nowunix %}{{'2015-01-01 00:00:00 -0400' | date: '%Y'}}{% endcapture %}
      {% capture posttime %}{{post.date | date: '%Y'}}{% endcapture %}
      {% assign oldclass = "" %}
      {% if posttime < nowunix %}
        {% assign oldclass = "class='oldpost'" %}
      {% endif %}
    <li {{oldclass}}>
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }} |  Post Type: {{ post.categories }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>