<header class="site-header">

  <div class="wrapper">
    <p class="site-title">
      <img src="/images/animatedlogo.svg" alt="Automated Logo">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      <p>
        <nav class="site-nav">
          {% for page in site.pages %}{% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}{% endfor %}
          <a class="page-link" href="{{ site.baseurl }}/docs/AllenHMay.pdf">Resume</a>

        </nav>
  </div>
</header>