<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="posts">
         {{ content }}
        </div>
        <div class="external">
            <h1 class="page-heading">External Posts</h1>
            <ul class="post-list">
            <li>
              <span class="post-meta">June 14, 2017</span>
              <span class="post-meta">Medium Blog</span>
              <h2><a class="post-link" href="https://medium.com/@allenhmay_74590/a-convenient-coincidence-98dabc09fb41">A Convenient Coincidence</a></h2>
            </li>
            </ul>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
